student_id = 0             # TODO : remplacez par votre numero d etudiant (0-99)
my_ip      = "0.0.0.0/32"  # TODO : remplacez par VOTRE_IP/32 (curl https://checkip.amazonaws.com)
key_name   = "ma-cle-ec2"  # TODO : nom de votre paire de cles EC2 existante dans eu-west-3
